$main-color:  #3d403d;

footer {
    display: flex;
    background-color: $main-color;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100vw;
    align-self: flex-end;

    .footerItem {
        color:#ebe7d5;
        padding: 0.2rem;
        margin: 0.2rem;
    }
    
}
