.mainScreenContainer {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  overflow: hidden;

  svg {
    max-width: 35vw;
    height: auto;
    margin: 0.5vh;

    g:nth-child(1) {

      g:nth-of-type(even){
        path{
          fill: rgb(202, 184, 19);
      }
    }
    }

  }
}

@media (max-width: 1024px),
(max-height: 420px) {
  .mainScreenContainer {
    max-width: 100vw;

    svg {
      max-width: 50vw;
    }

  }

}

@media (max-height: 420px) {
  .mainScreenContainer {
    max-width: 100vw;

    svg {
      max-width: 90vw;
    }

  }

}

@media (max-width: 420px) {
  .mainScreenContainer {
    max-width: 100vw;

    svg {

      max-width: 90vw;
    }

  }

}