.logo-container {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    
    svg {
      max-width: 35vw;
      max-height: 200px;
      margin: 0.5vh;
    }
  }
  
  @media (max-width: 1024px),
(max-height: 420px) {
  .logo-container {
    max-width: 100vw;

    svg {
      max-width: 50vw;
    }

  }

}

@media (max-height: 420px) {
  .logo-container {
    max-width: 100vw;

    svg {
      max-width: 90vw;
    }

  }

}

@media (max-width: 420px) {
  .logo-container {
    max-width: 100vw;

    svg {
      
      max-width: 90vw;
    }

  }

}
  