.buttonMenu {
    border: none;
    padding: .5vh 5vh;
    margin: 1vh;
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
    cursor: pointer;
    font-size: 1rem;

    &[aria-current="page"] {
        border: none;
        border-radius: unset;
        border-bottom: 2px solid black;
    }
}