.addPlantsListContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: flex-start;

    .addPlantsListForm {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;


        input {
            border: none;
            margin: 2vh;
            border-bottom: 2px solid black;
            padding: 0.5rem;
            text-align: center;
        }

        button {
            background-color: white;
            border: 2px solid black;
            border-radius: 10px;
            font-size: 1em;
            padding: 0.2rem 2rem;
        }

    }
}

.plantsListsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;

    .plantsListContainer {
        display: flex;
        justify-content: space-around;
        margin: 0.5vh;
        padding: 0.5vh;
        align-items: center;

        a {
            background-color: white;
            border: 2px solid black;
            border-radius: 10px;
            font-size: 1em;
            padding: 0.2rem 2rem;
        }
    }
}

.deleteButton {
    border: 2px solid black;
    border-radius: 10px;
    background-color: #f24949;
    font-size: 1em;
    padding: 0.2rem 2rem;
    color: white;
}